/* =============================
	 Stylesheet for Rosmini website
	 File:	 styles.css
	 Author: Zachary Williams
	 Date:	 April 2024
	 ============================= */

     .navbar {
        background-color:#0054a2;
        width:100%;
        position:fixed;
        border-bottom:2px solid red;
        z-index: 5;
        
    }
    
    .title {
        text-align: center;
        color: black;
    }

    .cutofffix {
        margin-top:0px;
    }
    
    .hovereffects {
        z-index:6;
    }
    
    .hovereffects:hover {
        background-color:red;
        transition: background-color 2s;
        z-index:4;
        border-radius:30px;
    }
    
    .buttons1 {
        display: block;
        width: 205px;
        height: 40px;
        margin: 10px 0 0 0;
        padding: 0px;
        color: #003311;
        background-color: white;
        border: 3px solid #003311;
        font-size: 15pt;
        text-decoration: none;
        text-align: center;
        border-radius: 10px;
        box-shadow: 2px 4px 6px #333333;
        transition: width 2s, height 4s;
        position: relative;
    }
    
      
      .buttons1::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px; /* Thickness of the line */
        background-color: red; /* Color of the line */
        transition: width 0.3s ease;
      }
      
      .buttons1:hover::after {
        width: 100%;
      }

    .buttons1:hover {
        background-color:#0394fc;
    }
    
    .logindets {
        margin-top:20px;
    }
    
    .navb {
        padding: 10px 10px;
    }
    
    .navb li {
        display:inline-block;
        margin:0 7px;
    }
    
    .line {
        background-color:red;
        color:red;
        margin-bottom:-50px;
        margin-top:-50px;
        font-size:5px;
    }

    .rosminilogo {
        margin-left:10px;
    }
    
    .contentcontainer {
        margin-left:auto;
        margin-right:auto;
        margin-top:100px;
        margin-bottom:100px;
        width:1000px;
        color:#0054a2;
    }
    
    .carousel {
        width:800px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:20px;
        box-shadow: 8px 10px 12px #333333;
        border-radius: 30px;
    }
    
    .homecontent {
        color:white;
        background-color:#0054a2;
        padding:25px;
        border-radius:20px;
        margin-left:auto;
        margin-right:auto;
    }

    .resourcecontent {
        color:white;
        background-color:#0054a2;
        padding:25px;
        border-radius:20px;
        margin-left:auto;
        margin-right:auto;
    }

    .homecontent1 {
        color:white;
        background-color:#0054a2;
        padding:25px;
        border-radius:20px;
        width:500px;
        margin-top:20px;
    }
    
    .contactimg {
        width:500px;
        padding:20px;
        border-radius:30px;
        box-shadow: 8px 10px 12px #333333;
    }
    
    .contactusdiv {
        display:flex;
    }

    .rosminititle {
        margin-top:50px;
        margin-left:270px;
        color:black;
    }

    .sportscontainer {
        display:flex;
        justify-content:center;
        background-color:#0054a2;
        padding:20px 20px 20px;
        margin-top:55px;
    }
    
    .footer-columns {
        display:flex;
        justify-content:center;
        background-color:#0054a2;
        align-content:center;
        color:#4D83C6;
        padding:25px;
        border-top:2px solid red;
        
    }
    
    .footer-column2 {
        padding:50px;
    }
    
    .motto {
        margin-left:-620px;
        text-align:center;
        color:white;
    }
    
    .container {
        display: block;
        width: 170px;
        margin-left: 180px;
        padding: 0px;
        color: #003311;
        background-color: white;
        border: 3px solid #003311;
        font-size: 14pt;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        border-radius: 10px;
        box-shadow: 2px 4px 6px #333333;
        text-decoration: none;
        transition: width 2s, height 4s;        
    }
    
    .staffcutofffix {
        margin-top:120px;
    }
    .sportsimg {
        margin:20px;
        box-shadow: 8px 10px 12px #333333;
        z-index:3;
        border-radius: 40px;
    }

    .sportsimg1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        box-shadow: 8px 10px 12px #333333;
        border-radius: 40px;
        
    }
    
    .sportsimg:hover {
        color:blue;
        transition: width 1s, height 2s, background-color 2s;
        z-index:4;
    }
    
    .dterow {
        display:flex;
        align-items:center;
        margin-left:650px;
        margin-bottom:30px;
    }
    
    .geographyrow {
        display:flex;
        align-items:center;
        margin-left:350px;
        margin-bottom:50px;
    }
    
    .staffimg {
        margin:20px;
        box-shadow: 8px 10px 12px #333333;
    }

    
    .loginbutton1 {
        margin-top:20px;
        margin-left:1700px;
    }
    .myBtn {
        display: block;
        width: 170px;
        height:50px;
        padding: 0px;
        color: #003311;
        background-color: white;
        border: 3px solid #003311;
        font-size: 14pt;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        border-radius: 10px;
        box-shadow: 2px 4px 6px #333333;
        text-decoration: none;
        transition: width 2s, height 4s;
    }
    
    
    .stafftitle {
        display:flex;
        justify-content:center;
        margin-top:-30px;
    }
    
    
    .stafftext {
        margin-left:90px;
    }
    
    
    .label{
        width:100px;
          text-align:right;
        display:inline-block;
        vertical-align:top;
        font-family: 'Arial Black', sans-serif;
    }
    
    .field, textarea{
        margin-left:5px;
        border-radius:5px;
        background-color:#ffccff;
        font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
        width:200px;
    }
    
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    .modal-content {
      background-color: #ffffff;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 600px;
      margin-top:100px;
    }
    
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .formimg {
        width:350px;
        margin-left:100px;
        padding:20px;
    }
    
    .admincontent {
        margin-left:800px;
        margin-top:120px;
        margin-bottom:100px;
    }
    
    .admintext {
        margin-left:90px;
    }
    
    .incorrectmessage {
        margin-top:120px;
        text-align:center;
    }
    
    .incorrectmessagetxt {
        padding:50px;
    }
    
    .footer-column1 {
        color:white;
    }
    
    .footerlinks {
        color:white;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      .loadingscreen {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
      }
      
      #loading-screen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
      }
      
      .loader {
        border: 8px solid #f3f3f3;
        border-top: 8px solid #3498db;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 1s linear infinite;
      }
      
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      
      #content {
        display: none;
        text-align: center;
      }

    
    @media only screen and (max-width: 390px) {
      .navbar {
        width:390px;
        margin-left:auto;
        margin-right:auto;
        position:static;
        margin-bottom:-50px;
      }
      .cutofffix {
        width:390px
      }
      
      .homecontent {
        width:300px;
        margin-left:20px;
      }
      .contentcontainer {
        margin-top:10px;
        width:300px;
        margin-left:50px;
        margin-right:50px;
      }
      .footer-columns {
        width:390px;
        margin-left:auto;
        margin-right:auto;
      }
       .footer-column1 {
        margin-left:0px;
        margin-right:0px;
      }
       .footer-column2 {
           display:none;
      }
       .sportscontainer {
        width:390px;
      }
       .staffcontainer {
        display:flex;
        flex-direction:column;
        width:390px;
        margin-left:0px;
        }
    }